<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>深大课程管理——考试</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/jquery-weui/1.2.1/css/jquery-weui.min.css" />
  <link rel="stylesheet" href="/addons/maixun_pte/template/mobile/css/mobilestyle.css" />
</head>
<style>
  a {
    text-decoration: none;
    color: rgb(131, 130, 130);
  }
</style>

<body>
  <div class="container">
    <!-- 内容 -->
    <div class="contant col">
      {loop $ground $item}
      <div class="test">
        <div class="row top">
          <div class="fw">{$item['title']}</div>
          <div>{$item['place']}</div>
        </div>
        <div class="mate row">
          {loop $item['detail'] $k $vo}
          <div class="item {if $vo['student_num']==$student_info['student_num']}active{/if}">
            <div class="circle"><span>{php echo $k+1}</span></div>
            <div class="name">{$vo['student_name']}</div>
          </div>
          {/loop}
        </div>
        <div class="time row">
          <span>开考时间：</span>
          <span id="time">{php echo date('Y-m-d H:i',$item['ground_time'])}</span>
        </div>
      </div>
      {/loop}


      <!-- 底部tab -->
      <div class="tab color">
          <a href="{php echo $this->createMobileUrl('s_sign')}">
            <div class="item " data-url="">
              <img class="icon" src="/addons/maixun_pte/template/mobile/img/icon1b.png" alt="" />
              <span>考勤</span>
            </div>
          </a>
          <a href="{php echo $this->createMobileUrl('s_task')}">
            <div class="item ">
              <img class="icon" src="/addons/maixun_pte/template/mobile/img/icon2b.png" alt="" />
              <span>课程</span>
            </div>
          </a>
          <a href="{php echo $this->createMobileUrl('s_userinfo')}">
            <div class="item a-color">
              <img class="icon" src="/addons/maixun_pte/template/mobile/img/icon3a.png" alt="" />
              <span>我的</span>
            </div>
          </a>
        </div>
    </div>
</body>
<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="/addons/maixun_pte/template/mobile/js/mobilemain.js"></script>

</html>