{template 'teacher/header'}
<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
{template 'teacher/slide'}
<style>
    label{
            width: 20%;
            text-align: left;
        }

        .form-control{
            width: 80%;
        }

        .label-name{
            float:left;
            margin-right: 11%
        }

        .class-item{
            margin-top: 0;
            width: 20%;
        }

        .class-item span{
            color:#122953;
        }

        .mates{
            width: 100%;
            height: 31em;
            margin-top: 4em;
            border: 1px solid #e6e6e6;
            overflow-y :auto;
            overflow-x :hidden;
            border-radius: 5px;
        }

        .mate-items{
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 1px dashed #6bccc9;
        }

        .mate-item{
            padding-left:1em;
            /*text-align: center;*/
        }

        .class-title{
            font-size: 1.2em;
            margin-top:0.5em;
            margin-bottom: 0.5em;
        }

        .file{
            position: relative;
            overflow: hidden;
        }
        .file input{
            position: absolute;
            opacity: 0;
            width: 100%;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .show-file{
            margin: 4px;
            vertical-align: middle;
            color: #6bccc9;
        }

        .file-show{
            margin-top:0.5em;
        }

        .file-item{
            color: #6bccc9;
        }

        .my-colse1{
            cursor: pointer;
        }

        .add-wrap{
            text-align: left;
            padding-left: 20%;
  
        }

        .restar{
            padding-left: 20%;
            text-align: left;
        }

        .se-class,.mates1{
            display: none;
        }

        .work-name{
            width:20%
        }

        /* .work-word{
            width:70%;
            height: 7em!important;
            float: right;
        } */

        .work-word{
            width:123%;
            height: 7em!important;
            margin-left:175px;
        }
        .form-group{
            position: relative;
        }

        .del{
            position: absolute;
            top: 40px;
            border: 1px solid #ff0000;
            width: 10%;
            color: #ffffff;
            background-color: #ff0000;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
        }

        .del:hover{
            background-color: #ff4444;
        }

        .home-works .row{
            margin-bottom: 20px;
        }
        .wrap {
            margin: 1em auto;
            text-align: center;
            padding-bottom: 1em;
        }
        .se-class2{
            display: none
        }
        .textf{
            width: 100%;
            height: 300px;
            margin-left: 200px;
        }
    </style>
<!-- 内容 -->
<div class="container-wrap">
    <div class="container-panel" style="min-height:46em;">
        <div class="container-fluid">
            <!-- <div class="row item-top">
                <div class="col-md-3 text-left">
                    <img src="/addons/maixun_pte/template/mobile/img/back.png" alt="back">
                    <a href="{php echo $this->createMobileUrl('a_index', array('id'=>$id))}"><span>返回</span></a>
                </div>
                <div class="col"></div>
            </div> -->
            <form action="{php echo $this->createMobileUrl('t_newtask',array('op'=>'add'))}" method="post" id="form1">
                <input type="hidden" id="count" name="count" value="{php echo count($problem)>0?count($problem):1}" />
                <div class="row">
                    <div class="col-md-7">
                        <input type='hidden' name='form_type' value='2'>
                        <input type='hidden' name='id' value='{$id}'>
                        <div class="mar">
                            <div class="form-group clearfix">
                                <label for="Date" >截止日期</label>
                                <input type="text" name="deadline" class="form-control" value="{php echo $taskold['deadline']?date('Y-m-d h:i',$taskold['deadline']):date('Y-m-d h:i');}"
                                    id="Date" placeholder="请选择日期">
                        </div>
                        </div>
                        <div class="restar">
                            <div class="btn {php echo $id==null?'se-class2':''} my-btn3 my-btnxx">重新选择学生</div>
                        </div>
                        <div class="mar">
                       
                            <div class="form-group {php echo $id==null?'':'se-class2'} clearfix se-class1">
                                <span class="label-name">选择班级:</span>
                                <div class="row class-items">
                                    {loop $calsslist $vo}
                                    <label class="class-item col-md-4">
                                        <input class="class-check" type="checkbox" value="{$vo['id']}" data-title="{$vo['title']}">
                                        <span>{$vo['title']}</span>
                                    </label>
                                    {/loop}
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label for="names">选择科目:</label>
                                    <select class="form-control" id="subject" name="subject">
                                        {loop $subjectlist $vo}
                                        <option value="{$vo['id']}" {php echo $vo['id']==$taskold['subjectid']?'selected':''}>{$vo['title']}</option>
                                        {/loop}
                                    </select>
                                </div>
                        </div>
                        <div class="mar home-works" id="task" style="list-style-type:decimal;margin-top: 6em;">
                            {if $problem==null}
                            <div class="row">
                                <div class="col-md-12 form-group clearfix">
                                    <label class="work-name" for="name1">作业1:</label>
                                    <div class="del">
                                        <span data-i="" onclick="move($(this))">删除</span>
                                    </div>
                                    <div style="margin-left: 20%">
                                    	<!-- <textarea name="editor1"></textarea> -->
                                        <script id="editor1" name="editor1" type="text/plain"></script>
                                    </div>
                                </div>
                            </div>
                            {/if}
                            {if $problem!=null}
                            {loop $problem $i $vals}
                            <div class="row">
                                <div class="col-md-12 form-group clearfix">
                                    <label class="work-name" for="name1">作业{php echo  $i+1}:</label>
                                    <div class="del">
                                        <span data-i="{php echo $i+1}" onclick="move($(this))">删除</span>
                                    </div>
                                    <div style="margin-left: 20%">
                                    	<script id="editor{php echo ($i+1)}" name="editor{php echo ($i+1)}" type="text/plain">{php echo  strtr($vals['problem'], $trans)}</script>
                                        <!-- <textarea name="editor{php echo ($i+1)}">{php echo  strtr($vals['problem'], $trans)}</textarea> -->
                                    </div>
                                </div>
                            </div>
                            {/loop}
                            {/if}
                        </div>
                        <div class="mar add-wrap">
                            <div class="btn my-btn3 add-btn">添加作业</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mates {php echo $id==null?'':'mates1'} container"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="mar text-left">
                            <button  onclick="form_data();return false;"  class="btn btn-primary span3" style="width:100%" >保存作业</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="/addons/maixun_pte/template/mobile/js/main.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.14.4/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.staticfile.org/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>

<script src="/addons/maixun_pte/template/mobile/js/bootstrap-datetimepicker.min.js"></script>
<script src="/addons/maixun_pte/template/mobile/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- <script src="//wx.yoois.com/addons/maixun_pte/template/mobile/js/ckeditor/ckeditor.js"></script> -->
<script src="/addons/maixun_pte/template/mobile/js/ueditor/ueditor.config.js"></script>
<script src="/addons/maixun_pte/template/mobile/js/ueditor/ueditor.all.js"></script>
<script src="/addons/maixun_pte/template/mobile/js/ueditor/ueditor.voice.js"></script>
<script src="/addons/maixun_pte/template/mobile/js/layer/layer.js"></script>
<script type="text/javascript">
    var id = '{php echo $id==null?null:$id}';
    var problem = {php echo json_encode($problem)}||[];
    var count = problem.length > 0 ? (problem.length) : 2;
    if (problem.length > 0) {
        for (var i = 0; i < problem.length; i++) {
            //CKEDITOR.replace('editor'+(i+1));
            UE.getEditor('editor'+(i+1));
            //CKEDITOR.config.width = '45em';
        }
    } else {
        console.log('dfgfgh');
        //CKEDITOR.replace('editor1');
        UE.getEditor('editor1');
        //CKEDITOR.config.width = '45em';
    }


    // 添加作业
    $('.add-btn').click(function () {
        var divlist = $("#task").children('div');
        if (divlist.length > 0) {
            $('.home-works').append("<div class='row'><div class='col-md-12 form-group clearfix'><label class='work-name' for='name1'>作业1:</label><div class='del'><span onclick='move($(this))'>删除</span></div><div style='margin-left: 20%'><script id='editor" + count + "' name='editor" + count + "' type='text/plain'><\/script></div></div></div>");
            var old = divlist.length + 1;
            $('#task').children("div:last-child").find('label').text('作业' + old + ":");
            $('#task').children("div:last-child").find('span').data('i',old);
            console.log('editor' + count);
            //CKEDITOR.replace('editor' + count);
            UE.getEditor('editor' + count);
            $('#count').attr('value', count);
            count++;
            // 或者 var editor = new E( document.getElementById('editor') )

        }

    })

    $("#subject").change(function(){
         $("input[name='students[]']").prop("checked", false);
         var subjectid = $("#subject").val();
         $('.subject'+subjectid).prop("checked", true);
    });
  


    function form_data(){
       var subjectid = $("#subject").val();
       var editor = $("#ueditor_textarea_editor1").val();
       var students =  $("input[ name='students[]']");
       var checkbox = [];
       for(k in students){
           if(students[k].checked)
               checkbox.push(students[k].value);
       }
       if (!subjectid){
           layer.open({
               content: '请选择科目'
               , skin: 'msg'
               , time: 2
               , shadeClose: false
           });
           return false;
       }
       if (!editor){
           layer.open({
               content: '请填写问题'
               , skin: 'msg'
               , time: 2
               , shadeClose: false
           });
           return false;
       }
       if(!id){
            if (checkbox.length <1){
                layer.open({
                    content: '请选择学生'
                    , skin: 'msg'
                    , time: 2
                    , shadeClose: false
                });
                return false;
            }
       }
       submit_form();
    }

    function submit_form(){
        layer.open({
            content: '是否立即发布？'
            ,btn: ['保存作业', '立即发布']
            ,skin: 'footer'
            ,yes: function(index){
                $("input[name='form_type']").val('1')
                console.log($("input[name='form_type']").val());
                $('#form1').submit();
            }
            ,no:function(){
                console.log($("input[name='form_type']").val());
                $('#form1').submit();
            }
        });
        return false;
    }

    //form 验证
    // $('form').submit(function () {
    //     console.log("jin");
    //     if(confirm('确定要删除吗')==true){

    //         $("input[name='form_type']").val('2')
    //         console.log($("input[name='form_type']").val());

    //     }else{
    //         $("input[name='form_type']").val('1')
    //         console.log($("input[name='form_type']").val());

    //     }

      
      
    // });

</script>
<script>
    // 判断班级添加数据
    $('.class-check').change(function () {
        //loadStudent
        $cls_id = $(this).attr('value');
        $title = $(this).data('title');
        // console.log($(this).is(':checked'));
        //删掉了checked="checked"
        if ($(this).is(':checked')) {
            $.ajax({
                type: "POST",
                url: "{php echo $this->createMobileUrl('t_newtask',array('op'=>'selectstudent'))}",
                data: {
                    cid: $cls_id
                },
                success: function (data) {
                    console.log(JSON.parse(data).data);
                    $('.mates').append('<div class="mate-items row cls_' + $cls_id +
                        '"><div class="col-md-12 class-title">' + $title + '</div></div>');
                    $.each(JSON.parse(data).data, function (i, item) {
                        var subject  = JSON.parse(item.subjectlist);
                         var classx = "";
                         for(k in subject){
                            classx+="subject"+subject[k]+"  ";
                            }
                        $('.cls_' + $cls_id).append(
                            '<label class="col-md-6 mate-item" for="' + item.id + '"><input type="checkbox" checked class="' +classx + '" name="students[]" id="' + item.id + '" value="' +
                            item.id + '" ><span>' + item.name +
                            '</span></label>');
                    });
                },
                error: function (data) {
                    $('.mates').append('<div class="mate-items row cls_' + $cls_id +
                        '"><div class="col-md-12 class-title">' + $title + '</div></div>');
                    var students = [{
                        id: 1,
                        name: "详细信息1"
                    }, {
                        id: 2,
                        name: "详细信息2"
                    }, {
                        id: 3,
                        name: "详细信息3"
                    }, {
                        id: 4,
                        name: "详细信息4"
                    }];
                    $.each(students, function (i, item) {
                        $('.cls_' + $cls_id).append(
                            '<label class="col-md-6 mate-item"><input type="checkbox" id="' +
                            item.id + '" checked="checked"><span>' + item.name +
                            '</span></label>');
                    });
                }
            });
        } else {
            $('.cls_' + $cls_id).remove();
        }
    });
    //文件上传
    // function fileShow(e){
    //    var $file = e.find('.file');
    //    var input = e.find("input[type='file']").get(0);
    // }
    // $(".file").on("change", "input[type='file']", function () {
    //     var path = $(this).val();
    //     var arr = path.split('\\');
    //     var fileName = arr[arr.length - 1];
    //     $(".show-file").html(fileName);
    // });\

    var taskid = '{php echo $id}';
    function uploadfj(e) {
        var taskid = taskid
        var name = '附件';
        var file = e.context.files[0]; //获取文件路径名，注意了没有files[1]这回事，已经试过坑
        // console.log(e.parent().parent().next().children('input').val());
        // return false;
        var formData = new FormData();
        formData.append('name', name);
        formData.append('file', file);
        formData.append('taskid', taskid);
        $.ajax({
            type: "POST",
            url: "{php echo $this->createMobileUrl('t_newtask', array('op'=>'upload'))}",  //同目录下的php文件
            data: formData,
            dataType: "json", //声明成功使用json数据类型回调
            //如果传递的是FormData数据类型，那么下来的三个参数是必须的，否则会报错
            cache: false,  //默认是true，但是一般不做缓存
            processData: false, //用于对data参数进行序列化处理，这里必须false；如果是true，就会将FormData转换为String类型
            contentType: false,  //一些文件上传http协议的关系，自行百度，如果上传的有文件，那么只能设置为false
            success: function (msg) {  //请求成功后的回调函数
                console.log(msg);
                if (msg.code == 200) {
                    layer.open({
                        content: msg.msg
                        , skin: 'msg'
                        , time: 2
                        , shadeClose: false
                    });
                    e.parent().parent().next().append("<div class='file-item ' data-id='" + msg.data.id + "'onclick='fujianrome($(this))'><span>" + msg.data.title + ":</span><span></span><span>" + msg.data.name + "</span><span class='fa fa-remove my-close1'></span></div>");
                    var srclist = e.parent().parent().next().children('input').val();
                    e.parent().parent().next().children('input').attr("value", srclist + "," + msg.data.id);
                } else if (msg.code == 201) {
                    layer.open({
                        content: msg.msg
                        , skin: 'msg'
                        , time: 2
                        , shadeClose: false
                    });
                } else {
                }
            }
        });
    }
    //删除 附件
    function fujianrome(e) {
        var id = e.data('id')
        var srclist = e.parent().children('input').val();
        var list = srclist.split(',');
        var huitian = "";
        for (var i = 0; i < list.length; i++) {
            if (list[i] == id) {
                console.log(id);
            } else if (i < list.length - 1) {
                huitian += list[i] + ',';
                console.log(huitian);
            } else if (i = list.length - 1) {
                huitian += list[i];
                console.log(huitian);
            }
        }
        e.parent().children('input').attr('value', huitian);
        console.log(list);
        e.remove()
    }






    // 重置
    $('.restar').click(function () {
        console.log(1);
        $('.se-class1').show();
        $('.mates').show();
        $('.my-btnxx').hide();
    })

    function move(e) {
        var divlist = $('#task').children("div");
        var i = e.data('i')
        //console.log(divlist);
        if (divlist.length > 1) {
            e.parent().parent().parent('.row').remove();
            $('#ueditor_textarea_editor'+i).remove();
           // e.parent().parent().parent('.row').remove();
            //  console.log($('#task').children("div:last-child").children('label').text());
            for (var i = 0; i < divlist.length; i++) {
                //console.log( $("#task").find("div").eq(i).find('label'));
                $("#task").children("div").eq(i).find('label').text('作业' + (i + 1) + ":");
            }
        } else {
            layer.open({
                content: '作业不能少于一个'
                , skin: 'msg'
                , time: 2
                , shadeClose: false
            });
        }

    }
</script>
<script>

    $('#Date').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        maxViewMode: 2,
        language: "zh-CN",
        autoclose: true,
        todayHighlight: true,
    });
    // console.log("{php echo date('Y-m-d h:i',$taskold['deadline'])}");
    // console.log("{php echo date('Y-m-d h:i')}");
    // $("#Date").datetimepicker('setStartDate',"{php echo $taskold['deadline']?date('Y-m-d h:i:s',$taskold['deadline']):date('Y-m-d h:i:s');}");
 
    $(document).ready(function(){
        $("#t_newtask").addClass('active');
    });
</script>
{template 'teacher/footer'}