<!-- <aside class="slide-bg">
    <nav class="fa-nav">
        <li class="nav-item">
            <a class="item-word" href="{php echo $this->createMobileUrl('a_index', array('id'=>$id))}">
                <img src="/addons/maixun_pte/template/mobile/img/icon1.png" alt="">
                <span>管理员管理</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="{php echo $this->createMobileUrl('a_campus', array('id'=>$id))}">校区管理</a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="{php echo $this->createMobileUrl('a_class', array('id'=>$id))}">班级管理</a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="{php echo $this->createMobileUrl('a_teacher', array('id'=>$id))}">老师管理</a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="{php echo $this->createMobileUrl('a_object', array('id'=>$id))}">科目管理</a>
        </li>
        <li class="nav-item active">
            <a class="item-word" href="#">
                <img src="/addons/maixun_pte/template/mobile/img/icon2.png" data-img="2" alt="">
                <span>老师管理</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="#">
                <span>作业列表</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="#">
                <span>新增作业</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="item-word" href="#">
                <img src="/addons/maixun_pte/template/mobile/img/icon3.png" data-img="3" alt="">
                <span>学生管理</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="#">
                <span>我的作业</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="item-word1" href="#">
                <span>查看评语</span>
            </a>
        </li>
    </nav>
</aside> -->

<aside class="slide-bg">
    <nav class="fa-nav">
        <li class="nav-item" id="a_index">
            <a class="item-word" href="{php echo $this->createMobileUrl('a_index', array('id'=>$id))}">
                <div class="icon icon2"></div>
                <span>作业总览</span>
            </a>
        </li>
        <li class="nav-item" id="t_task">
            <a class="item-word1" href="{php echo $this->createMobileUrl('t_task', array('id'=>$id))}">
                <span>作业列表</span>
            </a>
        </li>
        <li class="nav-item" id="t_newtask">
            <a class="item-word1" href="{php echo $this->createMobileUrl('t_newtask')}">
                <span>布置作业</span>
            </a>
        </li>
        <!-- <li class="nav-item" id="t_newtask">
            <a class="item-word1" href="{php echo $this->createMobileUrl('t_openidqrcode')}">
                <span>绑定微信</span>
            </a>
        </li> -->
    </nav>
</aside>