{template 'admin/header'}
{template 'admin/slide'}
<!-- 模态框 -->
<div class="modal fade popup-pd" id="myModal1">
    <div class="modal-dialog popup-wid">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" style="margin:0 auto;">编辑</h4>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <form action="">
                    <input type="hidden" name="id" value="">
                    <div class="form-group clearfix">
                        <label for="name">标题:</label>
                        <input type="text" class="form-control" name="title"  readonly="readonly">
                    </div>
                    <div class="form-group clearfix">
                        <label for="tel">简介:</label>
                        <input type="text" class="form-control" name="content"  readonly="readonly">
                    </div>
                    <div class="form-group clearfix">
                        <label for="tel">时间:（单位/分）</label>
                        <input type="text" class="form-control" name="time" >
                    </div>
                </form>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <div class="btn-group1">
                    <button type="button" class="btn btn-secondary my-btn5 blue" data-dismiss="modal" onclick="submit1()"
                        style="margin-right:10%;">确定</button>
                    <button type="button" class="btn btn-secondary my-btn5 red" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容 -->
<div class="container-wrap">
    <div class="container-panel editor">
        <div class="container-fluid">
            <div class="row">
                <!-- <div  onclick="newadd()" class="col-md-2 btn-wrap" data-toggle="modal" data-target="#myModal1">
                    <img src="/addons/maixun_pte/template/mobile/img/add.png" alt="">
                    <span>新增</span>
                </div> -->
                <!-- <div class="col-md-2 btn-wrap">
                        <img src="/addons/maixun_pte/template/mobile/img/ban.png" alt="">
                        <span>禁止</span>
                    </div>
                    <div class="col-md-2 btn-wrap">
                        <img src="/addons/maixun_pte/template/mobile/img/finish.png" alt="">
                        <span>启用</span>
                    </div> -->
                <div class="col"></div>
                <!-- <div class="col-md-4">
                    <div class="dropdown text-center" style="margin-top:2em">
                        <button type="button" class="btn " data-toggle="dropdown">
                            选择校区
                        </button>
                        <select class="form-control" name="selectschool" id="names">
                            {loop $schoollist $vo}
                            <option value="{$vo['id']}">{$vo['title']}</option>
                            {/loop}
                        </select>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container-panel record">
        <div class="container-fluid">
         
            <div class="row chart-item">
                <div class="col">编号</div>
                <div class="col">名称</div>
                <div class="col">简介</div>
                <div class="col">时间</div>
                <div class="col-md-4">操作</div>
            </div>
            {loop $signtime $item}
            <div class="row chart-item" data-info="{php echo json_encode($item);}">
                <div class="col">{$item['id']}</div>
                <div class="col">{$item['title']}</div>
                <div class="col">{$item['content']}</div>
                <div class="col">{$item['time']}</div>
                <div class="col-md-4">
                    <button class="btn my-btn blue" data-toggle="modal" data-target="#myModal1" onclick='edit({php echo json_encode($item);})'>编辑</button>
                    <!-- <button class="btn my-btn red" data-id="{$item['id']}" data-type="{$item['status']}" onclick="gostatus($(this))">删除</button> -->
                </div>
            </div>
            {/loop}
        </div>
    </div>
    {$pager}
    <!-- <ul class="pagination">
        <li class="page-item"><a class="page-link page-pull" href="#">上一页</a></li>
        <li class="page-item active"><a class="page-link page-num" href="#">1</a></li>
        <li class="page-item"><a class="page-num page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link page-num" href="#">3</a></li>
        <li class="page-item"><a class="page-link page-pull page-ban" href="#">下一页</a></li>
    </ul> -->
</div>
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
 
    function submit1() {
        var id = $("input[ name='id' ] ").val()
        var time = $(" input[ name='time' ] ").val()
        $.ajax({
            type: 'POST',
            url: "{php echo $this->createMobileUrl('a_signtime',array('op'=>'edit'))}",
            data: { 'time': time, 'id': id},
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.code == 200) {
                    layer.open({
                        content: data.msg
                        , skin: 'msg'
                        , time: 2
                        , shadeClose: false
                    });
                    $("input[ name='id' ] ").attr("value", '');
                    $("input[ name='title' ] ").attr("value", '');
                    $("input[ name='content' ] ").attr("value", '');
                    $("input[ name='time' ] ").attr("value", '');
                    setTimeout(function () {
                        window.location.href = "{php echo $this->createMobileUrl('a_signtime',array('page'=>$page))}";
                    }, 2000)
                }else{
                    layer.open({
                        content: data.msg
                        , skin: 'msg'
                        , time: 2
                        , shadeClose: false
                    });
                    $("input[ name='id' ] ").attr("value", '');
                    $("input[ name='title' ] ").attr("value", '');
                    $("input[ name='content' ] ").attr("value", '');
                    $("input[ name='time' ] ").attr("value", '');
                }
            },
        });
    }

    function edit(e) {
        var info = e
        $("input[ name='id' ] ").attr("value", info.id);
        $("input[ name='title' ] ").attr("value", info.title);
        $("input[ name='content' ] ").attr("value", info.content);
        $("input[ name='time' ] ").attr("value", info.time);
    }
    function gostatus(e) {
        var id = e.data('id')
        var type = e.data('type')
        //alert('id：' + id + "  type:" + type + "  typeid" + typeid);
        if (type == 0) {
            layer.open({
                content: "已删除"
                , skin: 'msg'
                , time: 2
                , shadeClose: false
            });
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "{php echo $this->createMobileUrl('a_teacher',array('op'=>'status'))}",
            data: { 'id': id, 'type': type },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.code == 200) {
                    layer.open({
                        content: data.msg
                        , skin: 'msg'
                        , time: 2
                        , shadeClose: false
                    });
                    setTimeout(function () {
                        window.location.href = "{php echo $this->createMobileUrl('a_signtime')}";
                    }, 2000)

                }
            },
        });
    }

        $(document).ready(function () {
        $("#a_signtime").addClass('active');
    });
</script>
{template 'admin/footer'}