{template 'student/header'}
{template 'student/slide'}
    <!-- 内容 -->
    <div class="container-wrap">
        <div class="container-panel wrap" style="min-height:46em;">
            <div class="container-fluid">
                <div class="row item-top">
                    <div class="col-md-3 text-left">
                        <img src="/addons/maixun_pte/template/mobile/img/back.png" alt="back">
                        <a href="{php echo $this->createMobileUrl('a_index', array('id'=>$id))}"><span>返回</span></a>
                    </div>
                    <div class="col"></div>
                    <!--<div class="col-md-3 text-right">-->
                        <!--<button class="btn my-btn2 blue">提交作业</button>-->
                    <!--</div>-->
                </div>
                <div class="row">
                    <div class="col">
                        <div class="item">
                            <p class="quetion"><span>1</span>. 这是我的第一个问题，猪的哪个部位最有营养？</p>
                            <div class="contant">
                                <p>这是我的第一个问题，猪的哪个部位最有营养？这是我的第一个问题，猪的哪个部位最有营养？这是我的第一个问题，猪的哪个部位最有营养？</p>
                            </div>
                            <!--<div class="btn-group">-->
                                <!--<button type="button" class="btn my-btn3">提交文字</button>-->
                                <!--<button type="button" class="btn my-btn3">上传图片</button>-->
                                <!--<button type="button" class="btn my-btn3">上传语音</button>-->
                            <!--</div>-->
                        </div>
                        <div class="item">
                            <p class="quetion"><span>1</span>. 这是我的第一个问题，猪的哪个部位最有营养？</p>
                            <div class="contant">
                                <img src="/addons/maixun_pte/template/mobile/img/exp.png" alt="exp">
                            </div>
                            <!--<div class="btn-group">-->
                                <!--<button type="button" class="btn my-btn3">提交文字</button>-->
                                <!--<button type="button" class="btn my-btn3">上传图片</button>-->
                                <!--<button type="button" class="btn my-btn3">上传语音</button>-->
                            <!--</div>-->
                        </div>
                        <div class="item">
                            <p class="quetion"><span>1</span>. 这是我的第一个问题，猪的哪个部位最有营养？</p>
                            <div class="contant">
                                <img src="/addons/maixun_pte/template/mobile/img/exp.png" alt="exp">
                            </div>
                            <!--<div class="btn-group">-->
                                <!--<button type="button" class="btn my-btn3">提交文字</button>-->
                                <!--<button type="button" class="btn my-btn3">上传图片</button>-->
                                <!--<button type="button" class="btn my-btn3">上传语音</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 word">
                        <span>老师批语</span>
                        <div class="box">
                            <button class="btn my-btn4 green">语音</button>
                        </div>
                        <span>老师批语</span>
                        <div class="box">
                            <span>这次作业完成的非常不错！</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {template 'student/footer'}